<a href="https://colab.research.google.com/github/tubameric/Python-Code/blob/main/Template_Pandas_cheat_sheet_50_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Pandas cheat sheet

In [ ]:
import pandas as pd

In [ ]:
# 1. Loading the csv data from the dataserver URL
url = 'https://raw.githubusercontent.com/nvamsimohan/DallasDSA/main/Airlines.csv'
df = pd.read_csv(url)

In [ ]:
# 2. Shape of a dataframe
df.shape

In [ ]:
# 3. Head and Tail of the data frame
df.head(n=10)
df.tail(n=10)

In [ ]:
# 4. data types of the columns
df.dtypes

In [ ]:
# 5. Getting column names
df.columns.tolist()

In [ ]:
# 6. Summary stats
df.describe()

In [ ]:
# 7. Checking NA values in columns
df.isna().sum()

In [ ]:
# 8. Selecting columns with data type as object
df.select_dtypes(include = 'object').columns

In [ ]:
# 9. Getting value counts from the columns
df['Airline'].value_counts(ascending=True)

In [ ]:
# 10. Getting unique names of values in a column
df['Airline'].unique()

In [ ]:
# 11. Select a few columns from df

df[['id', 'Airline', 'Flight']]

In [ ]:
# 12. Select a few rows
df.iloc[:10,]

In [ ]:
# 13. Select a few rows and columns
df.loc[:5, ['id', 'Airline', 'Flight']]

In [ ]:
# 14. Filter the data using a column
df[df['Airline'] == 'US']

In [ ]:
# 15. Filter the data using multiple columns
df[(df['Airline'] == 'US') & (df['AirportFrom'] == 'PHX') & (df['DayOfWeek'] == 1)]

In [ ]:
# 16. Filter data using OR conditions
df[(df['Airline'] == 'US') | (df['AirportFrom'] == 'PHX')]

In [ ]:
# 17. Filter data using a list
airline_list = ['DL','US']

df[df['Airline'].isin(airline_list)]

In [ ]:
# 18. Filter data not in list
airline_list = ['DL','US']

df[~df['Airline'].isin(airline_list)]

In [ ]:
# 19. Sort the data
df.sort_values(by='Airline',ascending=False)

In [ ]:
# 20. Rename a column
df.rename(columns={"Airline": "Airline_Code", "AirportFrom":"Airport_From"})

In [ ]:
# 21. Summarise using groupby
df.groupby(['Airline','AirportFrom','AirportTo'], as_index=False)['id'].agg('count')

In [ ]:
# 22. Summarise and sort
df_summ = df.groupby(['Airline','AirportFrom','AirportTo'], as_index=False)['id'].agg('count')

df_summ.sort_values(by='id', ascending = False)

In [ ]:
# 23. Summarise for multiple values
df.groupby(['Airline','AirportFrom','AirportTo'])['Time'].agg(['sum','count']).reset_index()

In [ ]:
# 24. Summarise for multiple columns and values
df.groupby(['Airline','AirportFrom','AirportTo']).aggregate({'id':'count','Time':'sum'}).reset_index()

In [ ]:
# 25. Adding a new column
df['Country'] = 'USA'

df.head()

In [ ]:
# 26. Adding a column using existing columns
df['CO_SFO'] = (df['Airline'] =='CO') & (df['AirportFrom'] == 'SFO')
df.head()

In [ ]:
# 27. Dropping a Column
df.drop(['CO_SFO'], axis = 1)

In [ ]:
# 28. Summarise Using pivot_table
df.pivot_table(index = ['Airline','AirportFrom','AirportTo'],
               values = ['Time'], aggfunc=['sum','count']).reset_index(col_level=1)

In [ ]:
# 29. Pivot data using pivot_table when unique rows are not available for index columns

df.pivot_table(index = 'Airline', columns='DayOfWeek', values='id',aggfunc='count', fill_value = 0).reset_index()

In [ ]:
# 30. Summarise using groupby and pivot
df1 = df.groupby(['Airline','DayOfWeek'], as_index=False)['id'].agg('count').reset_index()

df1.pivot(index = ['Airline'], columns = 'DayOfWeek', values = 'id').reset_index()

In [ ]:
# 31. Displaying summary information about the DataFrame
df.info()

In [ ]:
# 32. Getting the number of unique values in each column
df.nunique()

In [ ]:
# 33. Creating a copy of the DataFrame
df_copy = df.copy()

In [ ]:
# 34. Dropping duplicate rows from the DataFrame
df_no_duplicates = df.drop_duplicates()

In [ ]:
# 35. Converting a categorical variable into dummy/indicator variables
df_dummies = pd.get_dummies(df['Airline'])

In [ ]:
# 36. Converting the 'Flight' column to string data type
df['Flight'] = df['Flight'].astype(str)

In [ ]:
# 37. Finding the number of non-NA values in the 'AirportFrom' column
df['AirportFrom'].count()

In [ ]:
# 38. Replacing values in 'Airline' column, e.g., replacing 'US' with 'United States'
df['Airline'] = df['Airline'].replace('US', 'United States')

In [ ]:
# 39. Finding the maximum value in the 'Time' column
df['Time'].max()

In [ ]:
# 40. Calculating the sum of all values in the 'Time' column
df['Time'].sum()

In [ ]:
# 41. Finding the average (mean) of the 'Time' column
df['Time'].mean()

In [ ]:
# 42. Applying a custom function to the 'Time' column to convert minutes to hours
df['Time_in_hours'] = df['Time'].apply(lambda x: x / 60)
df[['Time', 'Time_in_hours']]

In [ ]:
# 43. Finding rows where 'AirportFrom' is 'PHX' and setting the 'Status' to 'Departed'
df.loc[df['AirportFrom'] == 'PHX', 'Status'] = 'Departed'

In [ ]:
# 44. Calculating the median of the 'Time' column
df['Time'].median()

In [ ]:
# 45. Counting the occurrences of each 'AirportTo' destination
df['AirportTo'].value_counts()

In [ ]:
# 46. Slicing the DataFrame to include only rows from index 10 to index 20
df_sliced = df[10:21]

In [ ]:
# 47. Finding the row with the maximum value in the 'Time' column
max_time_row = df[df['Time'] == df['Time'].max()]

In [ ]:
# 48. Filtering rows where 'AirportFrom' is 'PHX' and 'DayOfWeek' is 1
phx_flights_on_monday = df[(df['AirportFrom'] == 'PHX') & (df['DayOfWeek'] == 1)]

In [ ]:
# 49. Creating a pivot table with 'AirportFrom' as index and counts of 'id' as values
airport_from_pivot = df.pivot_table(index='AirportFrom', values='id', aggfunc='count')

In [ ]:
# 50. Mapping the 'DayOfWeek' to its corresponding string name
day_mapping = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}
df['DayOfWeekName'] = df['DayOfWeek'].map(day_mapping)
df[['DayOfWeek', 'DayOfWeekName']]